
      <h3 style="padding: 10px;"> Admin</h3>
    <div class="container col-sm-12" style="margin-top:0px" ba-panel>
        <aside class="admin-menu col-sm-2">
            <div class="admin-menuItem" ui-sref=".trackShipment">
            Track Shipment 
            </div>
             <div class="admin-menuItem" ui-sref=".trackShipment">
            Action 2
            </div>
            <div class="admin-menuItem" ui-sref=".trackShipment">
            Action 3
            </div>
             <div class="admin-menuItem" ui-sref=".trackShipment">
            Action 4
            </div>
        </aside>
        <div class="admin-detailView col-sm-10" ui-view="" ></div>
    </div>

<style>
.admin-menu {
 
  border-right: 5px solid #e5e5e5;
  bottom: 0;
  height: 87%;
  left: 0;
  z-index: 99;
}
.admin-menuItem{
    width:120px;
    height:60px;
    margin:10px;
    padding:10px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;

}

</style>
