<div class="container">
 <div class="col-sm-12">
    <div class="col-md-2">
        <div class="form-group">
            <label for="InteractionId">Interaction Id</label>
            <ui-select ng-model="vm.interaction.id" class="btn-group bootstrap-select form-control" ng-disabled="false" search-enabled="false">
                <ui-select-match>
                    <span> {{$select.selected.id}}</span>
                </ui-select-match>
                <ui-select-choices repeat="interaction in vm.InteractionIds | filter: $select.search">
                    <span ng-bind="interaction.id"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="InteractionId">Request Id</label>
            <ui-select ng-model="vm.interaction.name" class="btn-group bootstrap-select form-control" ng-disabled="false" search-enabled="false">
                <ui-select-match>
                    <span> {{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="data in vm.requestdata | filter: $select.search">
                    <span ng-bind="data.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
 </div>

</div>