.adv-srch.ng-hide-add {
    -webkit-animation: 0.5s lightSpeedOut ease;
    animation: 0.5s lightSpeedOut ease;
}

.adv-srch.ng-hide-remove {
    -webkit-animation: 0.3s fadeInDown ease;
    animation: 0.3s fadeInDown ease;
}

.point-ico {
    position: absolute;
    top: -22px;
    right: 35em;
    display: block;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .15);
    border-bottom-color: #fff;
}