<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
    <a href="#/home" class="al-logo clearfix">
        <img style="height:50px;" src="assets/img/sensital_logo.ico" alt="Sensital">
    </a>

    <div class="user-profile clearfix">
        <div class="al-user-profile" uib-dropdown>
            <a uib-dropdown-toggle class="profile-toggle-link">
                <img ng-src="assets/img/avatar.png">
            </a>
            <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
                <li><i class="dropdown-arr"></i></li>
                <li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>
                <li><a href="#/login" class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
            </ul>
        </div>
    </div>
</div>