<div class="auth-main">
    <div class="auth-block panel">
        <h3>Welcome to Sensital</h3>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a class="btn btn-default btn-auth" href="#/home">Sign in</a>
                    <a href class="forgot-pass">Forgot password?</a>
                </div>
            </div>
        </form>
    </div>
</div>