<div class="container homePageTiles" style="margin-top: 10px;" ba-panel>
    <div class="container">
        <a href="javascript:void(0)"  ng-click="vm.dashboardTile()"> 
            <div class="dashboardTile tile tileOne col-sm-6">
                <img class="tileImage" src="../assets/img/homepage/dashboard.png">
                <div class="title"> Dashboard </div>
            </div>
        </a>
        <a href="javascript:void(0)"  ng-click="vm.incident()"> 
            <div class="incidentManagementTile tile tileTwo  col-sm-6">
                <img class="tileImage" src="../assets/img/homepage/13.png">
                <div class="title"> Incident Management </div>
            </div>
        </a>
    </div>
    <div class="container">
        <a href="javascript:void(0)" ng-click="vm.operations()"> 
            <div class="operationsTile tile tileThree  col-sm-6">
                <img class="tileImage" src="../assets/img/homepage/operations.png">
                <div class="title">  Operations </div>
            </div>
        </a>
        <a href="javascript:void(0)"  ng-click="vm.order()"> 
            <div class="orderManagementTile tile tileFour  col-sm-6">
                <img class="tileImage" src="../assets/img/homepage/order.png">
                <div class="title"> Order Management </div>
            </div>
        </a>
    </div>
</div>

