.wizard {
    min-height: 5em;
    display: block;
}

.wizard .bootstrap-select.form-control {
    border: none !important;
}

textarea {
   resize: none;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}