<div class="container incidentmanagement" style="margin-top: 10px;" ba-panel>
  <h2>  Incident Management </h2>

 <div class=" table-responsive" ba-panel>

    <table class="table gvartable table-bordered table-hover table-condensed" st-table="editableTableData">
        <thead class="incidentThead">
            <tr class="sortable">
                <th>
                    <div class="checkbox incidentCheck">
                         <label>
                            <input class="incidentCheckbox" style="margin-top:30px" type="checkbox" value="">
                        </label>
                    </div>
                </th>
                <th st-sort="">EventId</th>
                <th st-sort="column2">Asset Type</th>
                <th st-sort="column3">Asset Location</th>
                <th st-sort="column3">Asset Id</th>
                <th st-sort="column3">Asset Name</th>
                <th st-sort="column3">Description</th>
                <th st-sort="column3">Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="incident in vm.incidents">
                <td>
                    <div class="checkbox incidentCheck">
                         <label>
                            <input type="checkbox" value="">
                        </label>
                    </div>
                </td>
                <td ng-bind="incident.eventId "></td>
                <td ng-bind="incident.assetType "></td>
                <td ng-bind="incident.assetLocation "></td>
                <td ng-bind="incident.assetId "></td>
                <td ng-bind="incident.assetName "></td>
                <td ng-bind="incident.description "></td>
                <td ng-bind="incident.timeStamp  | date:'MM-dd-yyyy h:mma' "></td>
                <td>
                    <a type="button" class="btn btn-warning btn-sm" ng-click="vm.intOne(incident)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <a type="button" class="btn btn-warning btn-sm" ng-click="vm.intTwo()">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                    <a type="button" class="btn btn-warning btn-sm" ng-click="vm.intTwo()">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<style>
    .refreshBtn {
    margin: 5px 15px 10px 0px;
    font-size: 18px;
    }
</style>