
  <h3 style="text-align:center;padding: 10px;">  Order Management </h3>
<div class="container ordermanagement" style="margin-top: 10px;" ba-panel>


  <div class="row">
      <div class="col-sm-6">
          <h4 class="orderHeading"> Customer </h4>
          <div class="col-sm-8">
            <div class="input-group add-on col-sm-8">
                <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
          </div>
            <div class="table-responsive col-sm-12" ba-panel>
                    <table class="table gvartable customerTable table-bordered table-hover table-condensed" st-table="editableTableData">
                        <thead class="orderThead" >
                            <tr class="sortable">
                                <th st-sort="id">CustomerId</th>
                                <th st-sort="TruckNo">TruckNo</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cust in vm.customerDetails">
                                <td ng-bind="cust.customerId "></td>
                                <td ng-bind="cust.truckNo "></td>
                                <td>
                                    <a type="button" class="btn btn-warning btn-sm btn-custom" ng-click="vm.custIntOne()">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a type="button" class="btn btn-warning btn-sm btn-custom" ng-click="">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                    <a type="button" class="btn btn-warning btn-sm btn-custom" ng-click="">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
      </div>
      <div class="col-sm-6">
               <h4 class="orderHeading">Inventory </h4>
               <div class="col-sm-8">
                    <div class="input-group add-on col-sm-8">
                        <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
            </div>
            <div class="table-responsive col-sm-12"ba-panel >
                    <table class="table gvartable invontryTable table-bordered table-hover table-condensed" st-table="editableTableData">
                        <thead class="orderThead" >
                            <tr class="sortable">
                                <th st-sort="id">InventryId</th>
                                <th st-sort="TruckNo">TruckNo</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="inventry in vm.InventryDetails">
                                <td ng-bind="inventry.inventryId "></td>
                                <td ng-bind="inventry.truckNo "></td>
                                <td>
                                    <a type="button" class="btn btn-warning btn-sm btn-custom" ng-click="vm.invontryIntOne()">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a type="button" class="btn btn-warning btn-sm btn-custom" ng-click="">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                    <a type="button" class="btn btn-warning btn-sm btn-custom" ng-click="">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
      </div>
  </div>

 <div class="table-responsive" ba-panel>
    <!--<div class="row refreshDiv">
         <a type="button" class="btn btn-info btn-sm pull-right refreshBtn" ng-click="vm.intTwo(interaction)">
            <i class="fa fa-refresh " aria-hidden="true"></i>
          </a>
    </div>-->
    <h4> Consignments </h4>
    <table class="table gvartable table-bordered table-hover table-condensed" st-table="editableTableData">
        <thead class="orderThead" >
            <tr class="sortable">
                <th>
                    <div class="checkbox orderCheck">
                         <label>
                            <input type="checkbox" style="margin-top:30px"  value="">
                        </label>
                    </div>
                </th>
                <th st-sort="id">Id</th>
                <th st-sort="name">name</th>
                <th st-sort="location">location</th>
                <th st-sort="quantity">quantity</th>
                <th st-sort="price">price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in vm.orderDetails">
                <td>
                    <div class="checkbox orderCheck">
                         <label>
                            <input type="checkbox" value="">
                        </label>
                    </div>
                </td>
                <td ng-bind="order.id "></td>
                <td ng-bind="order.name "></td>
                <td ng-bind="order.location "></td>
                <td ng-bind="order.quantity "></td>
                <td ng-bind="order.price "></td>
                <td>
                    <a type="button" class="btn btn-warning btn-sm" ng-click="vm.intOne()">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <a type="button" class="btn btn-warning btn-sm" ng-click="vm.intTwo()">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                    <a type="button" class="btn btn-warning btn-sm" ng-click="vm.intTwo()">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
                  <div class="form-group">
                    <div class="col-sm-offset-8 col-sm-12">
                      <button type="submit" class="btn btn-warning btn-lg" ng-click="vm.action()">Generate GatePass</button>
                    </div>
                  </div>

</div>
