<div class="modal-content">
    <div class="modal-header order-modal">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-times"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel"></h4>
    </div>
    <div class="modal-body">
                       
                <form class="form-horizontal orderForm" role="form">
                     <!--display Input Variables-->
                <h3> Device Variables </h3>
                <div clas="col-sm-12 ">
                    <div class="col-sm-6 orderForm-labels">Name</div>
                    <div class="col-sm-3 orderForm-labels">DataType</div>
                    <div class="col-sm-3 orderForm-labels">Value</div>
                </div>
                <div class="form-group orderform-group" ng-repeat=" dVar in vm.responseObj.dVars" >
                    
                    <div class="col-sm-6">
                        <input type="text" class="form-control" 
                        id="name" ng-model = "dVar.name" ng-disabled = true>
                    </div>       
                    <div class="col-sm-3">
                        <input type="text" class="form-control" 
                        id="dataType" ng-model = "dVar.dataType" ng-disabled = true>
                    </div>
                     <div class="col-sm-3">
                        <input type="text" class="form-control" 
                        id="value" ng-model = "dVar.value"  ng-disabled = true>
                    </div>
                </div>
                <h3> Process Variables </h3>
                <div clas="col-sm-12 ">
                    <div class="col-sm-6 orderForm-labels">Name</div>
                    <div class="col-sm-3 orderForm-labels">DataType</div>
                    <div class="col-sm-3 orderForm-labels">Value</div>
                </div>
                 <div class="form-group orderform-group" ng-repeat=" pVar in vm.responseObj.pVars" >
                     <div class="col-sm-6">
                        <input type="text" class="form-control" 
                        id="name" ng-model = "pVar.name" ng-disabled = true>
                    </div>       
                    <div class="col-sm-3">
                        <input type="text" class="form-control" 
                        id="dataType" ng-model = "pVar.dataType" ng-disabled = true>
                    </div>
                     <div class="col-sm-3">
                        <input type="text" class="form-control" 
                        id="value" ng-model = "pVar.value"  ng-disabled = true>
                    </div>
                </div>


                </form> 
               
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$dismiss()">Ok</button>
    </div>
</div>