.auth-main {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.auth-block {
    width: 540px;
    margin: 6% auto;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 32px;
    h3 {
        font-weight: $font-light;
        margin-bottom: 28px;
        text-align: center;
    }
    p {
        font-size: 16px;
    }
    a {
        text-decoration: none;
        outline: none;
        transition: all 0.2s ease;
        color: $primary;
        &:hover {
            color: $primary-dark;
        }
    }
    .control-label {
        padding-top: 11px;
    }
    .form-group {
        margin-bottom: 12px;
    }
}

.auth-input {
    width: 300px;
    margin-bottom: 24px;
    input {
        display: block;
        width: 100%;
        border: none;
        font-size: 16px;
        padding: 4px 10px;
        outline: none;
    }
}

a.forgot-pass {
    display: block;
    text-align: right;
    margin-bottom: -20px;
    float: right;
    z-index: 2;
    position: relative;
}

.auth-link {
    display: block;
    font-size: 16px;
    text-align: center;
    margin-bottom: 33px;
}

.auth-sep {
    margin-top: 36px;
    margin-bottom: 24px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    display: block;
    position: relative;
    &>span {
        display: table-cell;
        width: 30%;
        white-space: nowrap;
        padding: 0 24px;
        &>span {
            margin-top: -12px;
            display: block;
        }
    }
    &:before,
    &:after {
        content: "";
        height: 1px;
        width: 35%;
        display: table-cell;
    }
}