@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Lato|Open+Sans|Oswald|Roboto');
.dashboard {
    font-family: 'Droid Serif', serif;
    font-size: 12px;
}

.highlighted-path {
    fill: #445 !important;
    opacity: 1 !important;
}

.mt10 {
    margin-top: 10px;
}

#s1 {
    font-weight: bold;
}

.sb-info>.panel {
    height: 50px;
}

.mt20 {
    margin-top: 20px;
}