
.homePageTiles{
    .tile {
        height:250px;
        color: #fff;
        margin: 10px;
        width: 45%;
        background-color:#F0F3F4;
        box-shadow: 8px 8px 20px #1C3B63;
        text-align: center;
        opacity: 0.8;

        .title{
            font-size:28px;
            color:#9C3041;
            font-weight: 500;
            margin-top: 10px;
        }
        .title:hover{
            font-size:30px;
        }

        .tileImage {
            width:180px;
            margin-top: 25px;
        }
        .tileImage:hover{
            width:190px;
            margin-top: 20px;
        }
    }
    .tile:hover {
        opacity: 1;
        height:260px;
        width:46%
    }
}


/*.tileOne {
background-color: crimson;
opacity: 0.7;
}
.tile:hover {
opacity: 1;
}
.tileTwo {
background-color: blueviolet;
opacity: 0.7;
}
.tileThree {
background-color: darkcyan;
opacity: 0.7;
}
.tileFour {
background-color: chocolate;
opacity: 0.7;
}*/



