.incidentmanagement {
    .refreshDiv {
            .refreshBtn {
            margin: 5px 15px 0px 0px;
            font-size: 18px;
            }
      }
    .gvartable {

        .incidentThead {
            background-color: #9A2A3B;
            color:#fff;
            font-size:16px;

        }
        .incidentThead > tr > th{
            font-weight: 500 !important;
        }

        .incidentCheck {
                margin:0;
        }

    }

}