.gostyle {
  background-color: '#F3F3F3';
  height: 350px;
  border: 1px solid #d4d4d4;
  z-index: 0 !important;
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

#contextMenu {
  z-index: 300;
  position: absolute;
  left: 5px;
  border: 1px solid #444;
  background-color: #f5f5f5;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
}

#contextMenu ul {
  list-style: none;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#contextMenu li a {
  position: relative;
  min-width: 60px;
  color: #444;
  display: inline-block;
  padding: 6px;
  text-decoration: none;
  cursor: pointer;
}

#contextMenu li:hover {
  background: #444;
}

#contextMenu li:hover {
  color: #eee;
}

#contextMenu li ul li {
  display: none;
}

#contextMenu li ul li a {
  position: relative;
  min-width: 60px;
  padding: 6px;
  text-decoration: none;
  cursor: pointer;
}

#contextMenu li:hover ul li {
  display: block;
  margin-left: 0px;
  margin-top: 0px;
}

.imgsize {
  display: table-cell;
  vertical-align: middle;
  height: 24px;
}

.custom-modal {
  position: fixed;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.tab-content label {
  text-align: left;
}

figcaption {
  margin: 10px 0 10px 0;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

.godraggable {
  cursor: move;
  z-index: 9999;
}

.godraggable img {
  display: block;
  margin: 10px;
}

.nodepanel {
  border: 1px solid #d5d5d5;
  height: 510px;
  background-color: #ffffff;
}

#godiagram {
  background-color: #fff;
}

.nodepanel div {
  padding-top: 10px;
}

.logo {
  font-variant: small-caps;
  font-weight: 500;
}

.act-pannel {
  margin-bottom: 20px;
}

.alert-css {
  margin-bottom: 20px;
  text-align: center;
}

.m10 {
  margin-bottom: 10px;
}

.intbtn {
  text-align: right;
  margin: 10px 20px 15px 0;
}

.readonly-canvas {
  background-color: #d4d4d4;
}

.lbox {
  border: 1px solid #d4d4d4;
  margin: 5px;
  text-align: left;
  height: 90px;
  overflow-y: auto;
  border-radius: 5px;
}

.lbox ul {
  padding: 0;
}

.lbox li {
  list-style: none;
  padding: 5px;
}

.lbox li:hover {
  background-color: #7385aa;
  color: #fff;
  cursor: pointer;
}

.cbtn {
  margin: 30px 0 0 10px;
  width: 75px;
}

.plbl {
  margin-left: 5px;
  font-weight: 400;
  font-size: 13px;
}

.btn-vcenter {
  margin: 50px 0 0 20px;
}

.btn-vcenter a {
  width: 70px;
}

.selected {
  background-color: #7385aa;
  color: #fff;
}

.mt20 {
  margin-top: 20px;
}

.mtadd {
  margin-top: 15px;
}

.oplbl {
  margin: 22px 0 0 5px;
}

.evry > input {
  width: 80%;
  position: relative;
}

.evry > span {
  position: absolute;
  top: 2em;
  right: 1em;
}

.mnt > span {
  right: 0;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.limit-line {
  stroke-width: 1px;
  stroke-dasharray: 5, 5;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  color: #209e91;
  border: 1px solid #209e91;
}

.inputfile + label {
  cursor: pointer;
  /* "hand" cursor */
}

.rbrws {
  margin-top: 5px;
}

.panel-collapse {
  position: absolute;
  bottom: 25px;
  background-color: rgba(212, 212, 212, 0.26);
  width: 100%;
}

// .panel-collapse.ng-hide-add {
//     -webkit-animation: 0.3s fadeIn ease;
//     animation: 0.3s fadeInUp ease;
// }
.panel-collapse.ng-hide-remove {
  -webkit-animation: 0.3s fadeInUp ease;
  animation: 0.3s fadeInUp ease;
}

#godiagram .panel {
  box-shadow: none;
}

#godiagram .panel-body {
  background-color: none;
  padding: 2px;
}

#godiagram .modal-content {
  box-shadow: none;
}

#godiagram .panel-group {
  margin: 0px;
  border: 1px solid #d4d4d4;
  border-top: none;
}

#godiagram canvas {
  outline: none;
}

.intacc {
  height: 222px;
  overflow: auto;
}

.errorAcc .panel-collapse {
  position: absolute;
  bottom: 6.4em;
  background-color: rgba(212, 212, 212, 0.26);
  width: 100%;
}

.epb .panel {
  margin: 5px;
  height: 15em;
}

.epb ol {
  margin: 5px;
}

.errorAcc {
  margin: 0 !important;
  border-top: 1px solid #d4d4d4 !important;
}

.designerview .panel-open > div[role="tab"],
.designerview .panel-open > div[role="tab"] :hover {
  background-color: #af151e;
  color: #ffffff;
}

.gvartable > tbody > tr > td {
  padding: 4px 4px 0 4px !important;
}

.gvartable td[type="checkbox"] {
  margin: 0;
}

.sdbar {
  width: 80px !important;
  top: 50px !important;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 12em;
  overflow: visible;
  transition: all 0.3s ease;
}

.main-menu {
  background: #fbfbfb;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  top: 50px;
  bottom: 0;
  height: 87%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 99;
}

.main-menu > div {
  margin: 7px 0;
}

.main-menu .godraggable {
  position: relative;
  display: block;
  width: 12em;
}

.main-menu .godraggable {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 7.6em;
  font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

aside {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.main-menu .godraggable:hover,
aside.main-menu .godraggable.active,
.dropdown-menu > .godraggable:hover,
.dropdown-menu > .godraggable:focus,
.dropdown-menu > .active,
.dropdown-menu > .active:hover,
.dropdown-menu > .active:focus,
.no-touch .dashboard-page aside.dashboard-menu ul .godraggable:hover,
.dashboard-page aside.dashboard-menu ul .godraggable.active {
  color: #fff;
  background-color: #5fa2db;
}

.main-menu .area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

.main-menu .fa-2x {
  font-size: 2em;
}

.main-menu .fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.dview {
  margin-left: 10em;
}

.mouse-hover {
  margin-left: 13.5em;
  transition: all 0.5s ease;
}

.mouse-leave {
  transition: all 0.5s ease;
}

.rtype {
  .bootstrap-select.btn-group.open > .btn {
    border-radius: 0 5px 5px 0;
  }
  margin-bottom: 0px;
}

.mtitle span {
  float: left;
  margin: 5px 15px 5px 5px;
  font-size: 17px;
  font-weight: 500;
}

.mtitle input {
  width: 10em;
}

.rlabels {
  color: #7d7d7d;
}

.iround {
  border-radius: 5px !important;
}

.tpop {
  border: 1px solid #cbcbcb !important;
  border-radius: 5px !important;
  margin-bottom: 0 !important;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  > * {
    opacity: 0.5;
    pointer-events: none;
  }
}

.ipbtn {
  margin-top: 22px;
}

.pad5 {
  padding: 5px;
}

#godiagram {
  .panel-heading {
    height: 25px !important;
  }
  .accordion-toggle {
    padding: 5px 5px !important;
  }
  .panel-title {
    font: 14px/16px "Roboto", sans-serif;
    text-transform: none;
  }
}

.modal-header {
  padding: 5px;
  //height: 45px;
  .mtitle {
   margin-bottom: 15px;
  }
  .mtitle span {
    font: 14px/16px "Roboto", sans-serif !important;
    padding: 4px !important;
    margin-top: 5px;
    display: inline-block;
  }
}

.uploadbtn,
.uploadbtn:hover {
  background: #209e91;
  border-color: #209e91;
  i {
    color: #fff;
  }
}

.bordertop {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.margin10 {
  margin: 10px;
}
