.ordermanagement {
    .refreshDiv {
            .refreshBtn {
            margin: 5px 15px 0px 0px;
            font-size: 18px;
            }
      }
      .orderHeading {
          margin-left:15px;
      }
    .gvartable {

        .orderThead {
            background-color: #9A2A3B;
            color:#fff;
            font-size:16px;
        }
        .orderThead > tr > th{
            font-weight: 500 !important;
        }
        .orderCheck {
                margin:0;
        }
        .sweet-alert input {
            display: block;
        }
        .btn-custom {
            padding:3px 6px;
        }
    }
}
.order-modal {
    background-color: #9A2A3B !important;
    padding: 15px;
}
.orderForm {
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
}
.orderForm  .control-label {
    text-align: center;
}
.orderForm .orderform-group {
    margin-right:10px;
}
.orderForm .orderForm-labels {
    margin-bottom:10px;
}